<!DOYPE html>
    <html>

    <head>
        <meta charset="UTF8" />
        <meta name="port" content="=device-width initial-scale=.0" />
        <title>Welcome</title>
        {% load static %}
        <link rel="stylesheet" href="{% static "css/index.css" %}">
    </head>

    <body>
        <h1>Welcome</h1>
        <h3>This page is a sample of the Google Recaptcha on the Django admin login page. The goal is to add an extra
            layer of security to your Django admin site by requiring users to pass a Google Recaptcha challenge before
            logging in.</h3>
        <a class="button" href="/admin/">Login to Admin</a>
    </body>

    </html>